footer.footer
      .footer__logo 
        img(src='img/main-logo-transparent_.png', alt='Detours logo')
      ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact 
      a(href='https://github.com/abdulrahmanDev1').footer__copyright &copy; 2024 by Abdulrahman Mohamed
          